.header{
  padding: 15px 0;
  margin-bottom: 30px;
  
  &-top{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &__lang{
      margin-right: 30px;
    }
  }
  &-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    &__box{
      position: relative;
      @media (max-width:950px) {
        position: static;
      }
    }
  
  }

  // &.show{
  //   position: fixed;
  //   top:0;
  //   left: 0;
  //   width: 100%;
  //   transform: translateY(0);
  //   z-index: 10;
  //   background: rgba(0,0,0, 0.5);
  // }
  // &.show.hide{
  //   transform: translateY(-200%);
  // }
}
@import '../particles/langChoice';
@import '../particles/menuTop';
@import '../particles/headerContacts';
@import '../particles/menuBtn';
@import '../particles/logo';
@import '../particles/headerSearch';
@import '../particles/headerActions';