.product-series{
  margin-bottom: 50px;
  &__title{
    margin:0 0 40px;
    padding: 0 15px 15px;
    border-bottom: 3px dashed var(--gray-800);
    font:700 25px/30px var(--font);
    color: var(--gray-800);
    text-align: center;
    text-transform: uppercase;
  }
  &__image{
    display: block;
  }
  &__descriptions{
    display: flex;
    gap: 20px 15px;
    align-items: flex-start;
    background-color: var(--gray-200);
    padding: 0;
    margin: 0 0 30px;
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__box{
    width: 300px;
    flex-shrink: 0;
  &__image{
  display: block;
  }
  }
  &__text{
    color: var(--gray-800);
    font: 400 17px/20px var(--font);
    margin: 0;
    padding: 10px 15px;
  }
  &__items{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
    @media (max-width: 550px) {
      justify-items: center;
    }
  }
  &__link{
    text-transform: uppercase;
    font: 600 25px/30px var(--font);
    color: var(--gray-200);
    display: block;
    max-width: 500px;
    padding: 10px 10px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    background-color: rgb(22, 57, 186);
    border-radius: 10px;
text-align: center;
    &:hover{
     box-shadow: 0 0 20px rgba(0,0,0, .7);
    }
  }
}