.subcategory-section{
  padding-top: 0;
  &__preview{
    min-height: 450px;
    @extend %bg-cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &--chandelier{
      background-image: url("../images/lyustry_Loft_Concept.jpg");
    }
    &::after{
      content: '';
      position:absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, .6);
      z-index: 0;
    }
    &.container{
      padding: 0;
    }
  }
  // &__preview-img{
  //   grid-area: 1/1;
  //   display: block;
  //     }
      &__preview-title{
    font:700 60px/70px var(--font);
    color:var(--white);
    z-index: 1;
    position: relative;
      }
}
@import '../particles/subcategory';